<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand" ></a> <img  src="\assets\img\agence.png" width="180">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/residence">Résidence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/apartments">Appartement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/terr">Terrain</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/addr">Ajouter une résidence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/upr">MAJ une résidence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/upTerrain">Ajouter un Terrain</a>
        </li>




        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>